* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.nav_conntainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.nav_conntainer > button {
  padding: 10px 1rem;
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 2px black;
}
.section_one_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}
.section_one_info > h1{
    color: blue;
    font-size: 80px;
    padding: 1rem 0;
    
}
.section_one_info > p{
    
    font-size: 18px;
    padding: 1rem 0;
    
}
.section_one_btns{
    display: flex;
    gap: 1rem;
  font-family: "Roboto", sans-serif;

}
.more{
    background-color: red;
    padding: 20px 2rem;
    border: none;
    border-radius: 10px;
}
.get{
    background-color: transparent;
    padding: 20px 2rem;
    border: none;
    border-radius: 10px;
}

.section_one_img{
    width: 40vw;
}
.spirit-h1 {
  color: blue;
  font-size: 15px;
}

