* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.nav_conntainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.nav_conntainer > button {
  padding: 10px 1rem;
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 2px black;
}
.section_one{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding-inline: 5rem
}
.section_one_info {
  width: 40vw;
}
.section_one_info> h1 {
  color: blue;
  font-size: 80px;
  padding: 1rem 0;
}
.section_one_info > p {
  font-size: 18px;
  padding: 1rem 0;
}
.section_one_btns {
  display: flex;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
}
.more {
  background-color: red;
  color: white;
  padding: 20px 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.get {
  background-color: transparent;
  padding: 20px 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

.section_one_img {
  width: 30vw;
}
.spirit-h1 {
  color: blue;
  font-size: 15px;
}

/* section_two */
.section_two{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding-inline: 5rem;
  padding-top: 2rem;

}
.box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.389);
  padding: 2rem;
  width: 15vw;
}
.box>i{
  font-size: 60px;
}
.anything>h1{
  color: blue;
  font-size: 48px;
}
.anything>button, .send{
  background-color: red;
  color: white;
  padding: 10px 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 25px 0px;

}
.section_three_info{
  padding-left: 10rem;
  padding-top: 3rem;
}
.section_three_info>p{
  color: red;
  padding-bottom: 15px;

}
.section_three_info>h1{
  color: blue;
  padding-bottom: 15px;
  font-size: 35px;

}
.input{
 text-align: center;
 /* margin: 0 auto; */
}
.email, .subject{
  width: 30vw;
  padding: 1rem ;
  background-color: #F4FAFE;
  border: none;
  border-radius: 5px;

}

.msg{
  width: 62vw;
  height: 12vh;
  background-color: #F4FAFE;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}


